body {
  font-family: 'Lato', sans-serif;
}

.color {
  color: #8E43F0;
}
/* top section strt here */
.top-section{
  padding-top: 30px;

  --container-max-width: 1200px;
}
.top-nav {
  margin-bottom: 30px;
}
.navbar-brand{
  font-family: 'EB Garamond',serif;

}
.top-heading .new-release{
  margin-bottom: 40px;
}
.top-heading h1{
  line-height: 1.4em;
  font-family: 'EB Garamond',serif;
  font-weight: 500;
  font-size: 5.5rem;
  margin-bottom: 20px;
}
.top-heading .detail p{
  font-size: inherit;
  font-style: inherit;
  margin-bottom: 60px;
}
.banner .right-content{
  background-image: url('./images/background.jpeg.png');
  background-repeat: no-repeat;
}
 /* top section end here */


 /* biography section strt here  */
 .biography{
  padding-top: 100px;
  background-image: url('./images/background.jpeg.png');
  background-repeat: no-repeat;
  margin-bottom: 100px;
 }
 .biography .jhon-detail{
  padding: 60PX;
 }
 .biography .jhon-detail h1{
  font-weight: 600;
  font-family: 'EB Garamond',serif;
 }
 .biography .jhon-detail .jhon-robert{
  margin-bottom: 50px;
 }
 .box .box-img{
  width: 60px;
  height: 50px;
  margin-bottom: 20px;
 }
 .box h5{
  margin-bottom: 8px;
  line-height: 1.2rem;
  font-weight: 600;
  font-family: 'Heebo',sans-serif;
 }
 .box{
  margin-bottom: 200px;
 }
/* best selling section strt here */

.best-selling .best-selling-top-row {
  justify-content: center;
}
.best-selling  .best-selling-top-text {
  margin-bottom: 30px;
  text-align: center;
}
.best-selling  .best-selling-top-text h1{
  margin-bottom: 20px;
}
.best-selling .selling-books{
  margin-bottom: -90px;
}
.best-selling .shop-all-books{
 display: flex;
 justify-content: center;
 padding-bottom: 50px;
}
.audio-section{
  margin-bottom: 50px;
}
 /* sign in strt here */
 .sign-in {
  display: flex;
  justify-content: center;
}

/* .background-image {
  background-image: url('../src/Asserts/Images/login-image.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

.sign-in .email {
  margin-bottom: 20px;
}

.sign-in .password {
  margin-bottom: 20px;
}

.forgot {
  display: flex;
  justify-content: end;
}

.error-message {
  color: #d32f2f;
}

/* sin up section strt here */
.sign-up {
  display: flex;
  justify-content: center;
}

.sign-up .heading h2 {
  margin-bottom: 10px;
}

.sign-up .heading p {
  margin-bottom: 20px;
}

.sign-up .first-name {
  margin-bottom: 20px;
}

.sign-up .last-name {
  margin-bottom: 20px;
}

.sign-up .phoneNumber {
  margin-bottom: 20px;
}

.sign-up .password {
  margin-bottom: 20px;
}

.sign-up .email {
  margin-bottom: 20px;
}

.customer-type {
  margin-bottom: 10px;
}

.industry-type {
  margin-bottom: 10px;
}

.Advance-feature {
  background-color: #CEF3E1;
  padding-top: 150px;
}

.Advance-feature ul li {
  list-style-type: none;
}

.Advance-feature .li-headings {
  margin-left: -33px;
}

.Advance-feature h6 {
  margin-top: 10px;
}

.te-xt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.te-xt ul li {
  list-style-type: none;
}

.te-xt ul li p {
  display: inline;
  margin-bottom: 0px;
}

.password-valitation p {
  margin-bottom: 0;
}

.css-10650aq {
  height: 700px;
}

.valid {
  background-color: #00A95A;
}

.invalid {
  background-color: gray;
}
